ul{
    list-style: none;
    padding: 0;
    margin: -5px  ;
    overflow: hidden;
    background-color: tan;
}
ul li{
    float:left
}
a{
    text-decoration: none;
    display: block;
    padding: 1px 5px;
    text-align: center;
}
a:hover{
    background: palegoldenrod;
}
.dh{
    position: absolute;
    right: 10px;
    top: 1px;
}